:root{
    --color-1: #33404F;
    --color-2: #00DDA3;
    --color-3: #B5C5C3;
    --space-layout-padding-lr: 38px 20px;
    --space-layout-padding-ne: 2vh 20px 20px 20px;
    --space-layout-padding-pig: 0.1vh 20px 25px 20px;
}
@font-face {
    font-family: "prob";
    src: url("../storage/font/SF-Pro-Text-Font-Family/SF-Pro-Text-Bold.otf");
}
@font-face {
    font-family: "pror";
    src: url("../storage/font/SF-Pro-Text-Font-Family/SF-Pro-Text-Regular.otf");
}
@font-face {
    font-family: "proh";
    src: url("../storage/font/SF-Pro-Text-Font-Family/SF-Pro-Text-Heavy.otf");
}
@font-face {
    font-family: "prol";
    src: url("../storage/font/SF-Pro-Text-Font-Family/SF-Pro-Text-Light.otf");
}
@font-face {
    font-family: "prom";
    src: url("../storage/font/SF-Pro-Text-Font-Family/SF-Pro-Text-Medium.otf");
}
@font-face {
    font-family: "prose";
    src: url("../storage/font/SF-Pro-Text-Font-Family/SF-Pro-Text-Semibold.otf");
}
@font-face {
    font-family: "robo";
    src: url("../storage/font/static/RobotoMono-Bold.ttf");
}