<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="../css/menu.css">
</head>
<body>
    <header class="header">
        <div class="header__information">
            <img src="../storage/img/logn.svg" alt="">
            <p>INVETO</p>
        </div>
        <div class="header__login">
            <img src="../storage/img/menun.svg">
        </div>
    </header>

    <main class="main">
        <section class="arriba">

            <article class="artpig">
                <div class="titu">
                    <h2>Investing Tips</h2>
                </div>
                <div class="container">
                    <div class="image">
                        <img src="../storage/img/pork.svg" alt="">
                    </div>
                    <div class="text">
                        <div class="containerp">
                            <h2>What is an ETF?</h2>
                            <p>By James B, PHD</p>
                            <a href="#">LEARN MORE</a>
                        </div>
                        <div class="containerekiz">
                            <img src="../storage/img/ekiz.svg" alt="">
                        </div>
                    </div>
                </div>

            </article>

        </section>

        <section class="abajo">
            <article class="artcard">
                <div class="titu">
                    <h2>My Cards (4)</h2>
                </div>
                <div class="carru">
                    <a class="card1" href="#">
                        <div class="ship">
                            <img src="../storage/img/ship.svg" alt="">
                            <p>**** 6175</p>
                        </div>
                        <div class="precio">
                            <h2><small>$</small> 47,417</h2>
                        </div>
                        <div class="logo">
                            <img src="../storage/img/logb.svg" alt="">
                        </div>
                    </a>
                    <a class="card2" href="#">
                        <div class="ship">
                            <img src="../storage/img/ship.svg" alt="">
                            <p>**** 6175</p>
                        </div>
                        <div class="precio">
                            <h2><small>$</small> 47,417</h2>
                        </div>
                        <div class="logo">
                            <img src="../storage/img/logb.svg" alt="">
                        </div>
                    </a>
                    <a class="card1" href="#">
                        <div class="ship">
                            <img src="../storage/img/ship.svg" alt="">
                            <p>**** 6175</p>
                        </div>
                        <div class="precio">
                            <h2><small>$</small> 47,417</h2>
                        </div>
                        <div class="logo">
                            <img src="../storage/img/logb.svg" alt="">
                        </div>
                    </a>
                    <a class="card2" href="#">
                        <div class="ship">
                            <img src="../storage/img/ship.svg" alt="">
                            <p>**** 6175</p>
                        </div>
                        <div class="precio">
                            <h2><small>$</small> 47,417</h2>
                        </div>
                        <div class="logo">
                            <img src="../storage/img/logb.svg" alt="">
                        </div>
                    </a>
                </div>
            </article>

        </section>
    </main>


    <footer class="footer">
        <ul class="footer__ul">
            <li>
                <a href="#">
                    <img src="../storage/img/home.svg" alt="">
                </a>
            </li>
            <li>
                <a href="/views/balance.html">
                    <img src="../storage/img/content.svg">
                </a>
            </li>
            <li>
                <a href="views/menu.html">
                    <img src="../storage/img/mfv.svg">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../storage/img/message.svg">
                </a>
            </li>
            <li>
                <a href="../index.html">
                    <img src="../storage/img/pwhite.svg">
                </a>
                
            </li>
        </ul>
    </footer>

</body>
</html>